*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{text-decoration: none;
color:#ee4d2d}
html{
    font-family:Arial, Helvetica, sans-serifs;
    font-size: 13px;
    line-height: 20px;
}
.Clear{
    clear: both;
}
body{
    background-color:#ffede1;
}
.full-container{
    width:100%;
    margin: 0 auto;
    scroll-behavior: smooth;
}
.header{
    background-color: #EB674B;
    min-height: 5.25em;
    color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 6px rgba(0,0,0,.06);
    z-index: 2;
    position: relative;
}
.header ion-icon{
    font-size: 2.5em;
    padding-left: 1.5em;
}
.header h1{
    font-size: 1.5em;
    margin-right: 1em;
}
.header h1 a{
    color: #fff;
}
.header h2{
    color: black;
}
#login_img{
    width: 30%;
    z-index: 2;
    position: absolute;
    top: 30%;
    right: 12.5%;
}
.full-container hr{
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 93.5%;
    color: rgb(255, 206, 174);    ;
}
form .input-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
form .input-group ion-icon{
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.license{
    text-align: center;
    font-size: 13px;
    position: absolute;
    top:95%;
    left:34%
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    text-align: center;
}
.or p{
  text-transform: uppercase;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.or .line{
  border-bottom: 1px solid #BFBFBF;
  width: 40%;
}
form input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
} 
.btn ion-icon{
    font-size: 1.4em;
    margin-right: 0.4em;
}
.btn #fb{
    font-size: 1.5em;
}